.darkMode {
  font-size: 20px;
  padding: 12px;
  cursor: pointer;
  color: var(--primary-color);
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.darkMode:hover {
  background-color: dodgerblue;
  color: white;
}
