/* Bouton toggle sidebar */
.sidebarToggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--primary-color);
  transition: transform 0.9s ease;
}

/* .sidebarToggle:hover {
  transform: rotate(360deg);
} */

.navLeft .transformEffect {
  transform: rotate(360deg);
}
.navLeft {
  padding: 0 10px;
}
