/* Bouton toggle sidebar */
.sidebarToggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--primary-color);
  transition: transform var(--transition-speed);
}

.sidebarToggle:hover {
  transform: rotate(90deg);
}

.navLeft button.transformEffect {
  transform: rotate(360deg);
}
.navLeft {
  padding: 0 10px;
}
