@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* --primary-color: deeppink; */
  /* --primary-color: #007bff; */
  /* --primary-color: blueviolet; */
  --sidebar-width: 230px;
  --sidebar-collapsed-width: 83px;
  --transition-speed: 0.4s;
  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
  --border-radius: 10px;
  --bg-color: #f8f5f5;
  --text-color: #f8f5f5;
  --surface-color: #ffffff;
  --primary-color: dodgerblue;
  --border-color: rgba(0, 0, 0, 0.1);
  --divider-color: dodgerblue;
  --sidebar-color: dodgerblue;
  --footer-color: #f8f5f5;
  --footer-text-color: #0f172a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
body {
  background-color: #fff;
  min-height: 100vh;
  scrollbar-width: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
}
li {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/* 🌙 DARK MODE */
body.dark {
  --bg-color: #0f172a;
  /* --bg-color: #11101d; */
  --text-color: #e5e7eb;
  --surface-color: #020617;
  /* --primary-color: #38bdf8; */
  --primary-color: dodgerblue;
  --border-color: rgba(255, 255, 255, 0.1);
  --divider-color: rgba(255, 255, 255, 0.3);
  --footer-color: #0f172a;
  --footer-text-color: #e5e7eb;
  --movie-card-border: 3px solid #f8f5f5;
  --sidebar-color: dodgerblue;
}
