.main {
  padding: 30px 20px;
  margin: 25px;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  transition: all 0.5s ease-in-out;
  border: 2px solid red;
}
/* .mainCollapsed {
  padding: 30px 0px;
  margin: 25px;
} */
/* .main {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 30px 0px;
  margin: 25px;
  gap: 20px;
  border: 2px solid red;
  transition: all 0.5s ease-in-out;
} */

/* .exemple{
    overflow-y: auto;
  overflow-x: hidden;
  min-height: auto;
  border: 2px solid red;
} */
