.categoryText {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  /* gap: 190px; */
  color: var(--footer-text-color);
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
  font-weight: 600;
  /* border: 2px solid green; */
  /* width: 80%; */
  /* position: relative; */
}

.hone {
  position: absolute;
  left: 0;
}
button.hone {
  font-size: 0.9rem;
  font-family: Poppins;
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
  border-radius: 10px;
  background-color: dodgerblue;
  color: aliceblue;
  transition: background-color var(--transition-speed);
  outline: none;
  border: none;
}
button.hone:hover {
  background-color: aliceblue;
  color: var(--primary-color);
  outline: 3px solid var(--primary-color);
}
/* .htwo {
  text-align: center;
  display: flex;
  align-items: center;
  border: 4px solid red;
} */
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: red;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.movies {
  padding: 15px 5px;
  /* margin: 25px; */
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  transition: all 0.5s ease-in-out;
  /* border: 2px solid red; */
}
