.appLayout {
  margin-left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
  min-height: 100vh;
  transition: margin-left var(--transition-speed) ease,
    width var(--transition-speed) ease, background-color 0.3s ease,
    color 0.3s ease;
  display: flex;
  flex-direction: column;
}

.collapsed {
  margin-left: var(--sidebar-collapsed-width);
  width: calc(100% - var(--sidebar-collapsed-width));
}
