.searchBox {
  border-radius: var(--border-radius);
}

.searchBox input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 400;
  color: #f8f5f5;
  caret-color: aqua;
}
input::placeholder {
  color: gray;
}
