.divider {
  position: relative;
  text-align: center;
  margin: 20px 0;
  opacity: 1;
  transition: opacity var(--transition-speed);
}

.divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.divider span {
  width: auto;
  white-space: nowrap;
  position: relative;
  background: var(--sidebar-color);
  padding: 0 12px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  z-index: 1;
}
