.navbar {
  display: grid;
  grid-template-columns: 10% 65% 25%;
  background-color: dodgerblue;
  gap: 10px;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  padding: 5px 10px;
}

.navLeft {
  border: 2px solid white;
}

.navRight {
  border: 2px solid white;
}
