.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--surface-color);
  box-shadow: var(--box-shadow);
  width: 100%;
  height: 75px;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 15px 10px;
}

.navRight {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 10px;
}

/* Effet collapse de la sidebar */
.navbarCollapsed {
  margin-left: var(--sidebar-collapsed-width);
  width: calc(100% - var(--sidebar-collapsed-width));
}
