.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  width: 100%;
  height: 75px;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 15px 10px;
  /* border: 2px solid orangered; */
}

.navRight {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 10px;
}

/* Effet de l'expansion de la sidebar */
.mainContentExpanded {
  margin-left: var(--sidebar-collapsed-width);
}
