.loginButton {
  padding: 10px;
  border-radius: 10px;
  background-color: aliceblue;
  color: dodgerblue;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
  /* margin-right: -30px; */
}
.loginButton:hover {
  background-color: dodgerblue;
  color: aliceblue;
  outline: 2px solid white;
}
