.footer {
  height: 80px;
  box-shadow: var(--box-shadow);
  background: var(--footer-color);
  color: var(--footer-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
