.footer {
  height: 80px;
  /* border-top: 1px solid rgba(0, 0, 0, 0.4); */
  box-shadow: var(--box-shadow);
  /* position: sticky; */
  /* bottom: 0; */
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
}
