.sidebarCollapsed span {
  opacity: 0;
  width: 0;
  overflow: hidden;
  pointer-events: none;
}
.active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.item {
  list-style: none;
  cursor: pointer;
  color: #f8f5f5;
  text-decoration: none;
}
