/* .sidebarCollapsed span {
  opacity: 0;
  width: 0;
  overflow: hidden;
  pointer-events: none;
} */
.active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.item {
  position: relative; /* obligatoire pour la tooltip */
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 100;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

/* TOOLTIP */
.tooltip {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #111;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 13px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease;
  z-index: 9990;
}

.item:hover .tooltip {
  opacity: 1;
  z-index: 9999;
}
