/* zone scrollable */
.scrollArea {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 0;
  /* scroll-behavior: smooth; */
  /* -ms-overflow-style: none; */
  /* scrollbar-width: none; */
}
.scrollArea::-webkit-scrollbar {
  width: 4px;
}

.scrollArea::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
