.menu {
  flex: 1;
}

.menu li.active {
  /* background-color: rgba(162, 8, 90, 0.4); */
  background-color: rgba(255, 255, 255, 0.1);
}

.menu li,
.bottomMenus li {
  /* border: 2px solid #fff; */
  display: flex;
  align-items: center;
  padding: 12px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color 0.4s;
}

.menu li i,
.bottomMenus li i {
  margin-right: 10px;
  width: 20px;
  text-align: center;
}

.menu li:hover,
.bottomMenus li:hover {
  /* background-color: rgba(162, 8, 90, 0.4); */
  background-color: rgba(255, 255, 255, 0.1);
}

/* .menu li.currentMenu {
    background-color: rgba(162, 8, 90, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
} */
